html, body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}

* {
  box-sizing: border-box;
}

button {
  font-weight: normal !important;
}

.app {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.app-header {
  flex: 0 0 auto;
  width: 100%;
  height: 3rem;
  line-height: 3.3rem;
  padding-left: 1rem;
  background: #BD9382;
  display: flex;
}

.app-header > a {
  color: #55167a !important;
  margin-right: 1.6rem;
}

.app-content {
  flex: 2 1 100%;
  display: flex;
}

.app-footer {
  flex: 0 0 auto;
  width: 100%;
  text-align: center;
  color: #3D3660;
}
